<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"] - Admin</title>
    <link rel="stylesheet" href="~/css/adminlte.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/adminlte.min.js"></script>
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        @* Include your admin header and sidebar here *@
        @RenderSection("AdminHeader", required: false)
        @RenderSection("AdminSidebar", required: false)
        <div class="content-wrapper">
            @RenderBody()
        </div>
        @* Include your admin footer here *@
        @RenderSection("AdminFooter", required: false)
    </div>
</body>
</html>